@(user: String)(picUrl: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Quizter</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
   		<div id="background">
	    	<div id="overlay-body">
	    
	    	</div>
	    	<div id="title1">
	    		<p>Quizter</p>
	    	</div>
	    	<div id="title2">
	    		<p>A Social Networking Application</p>
	    		<p>Coming Soon</p>
	    	</div>
	    	<div id="content-slot-2" class="effect">
		  
			</div>
		    <div id="content-slot-1">
		   		<div class="image-holder">
					<!-- <img src="@routes.Assets.at("images/nexus5.png")"> -->
				</div>
		    </div>
		   
    	 </div>
    	
    </body>
</html>